<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text Boom</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="text">
        <div class="line">
            <p class="word">Seridi</p>
            <p class="word fancy">Bachir</p>
        </div>
        <div class="line">
            <p class="word fancy">Design</p>
            <p class="word">&&</p>
        </div>
        <div class="line">
            <p class="word">art</p>
            <p class="word">direction</p>
        </div>
        <div class="line">
            <p class="word">->email</p>
            <p class="word">->Github</p>
        </div>
        <div class="line">
            <p id="number" class="word fancy">seridi.mohammed.bachir@gmail.com</p>
        </div>
        <div class="line" >
            <p id="bg" class="word fancy" >
                000bachir
            </p>
        </div>
    </div>
</body>

<script src="app.js"></script>
</html>