<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black/White</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <section>
        <div class="pointer"></div>
        <h1>Black & Withe</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae sem sed lectus maximus imperdiet. Vestibulum tellus quam, luctus vel metus a, 
            volutpat finibus eros. Vivamus cursus tellus ac posuere aliquam. Etiam scelerisque libero eu nulla suscipit elementum. Maecenas vehicula vulputate magna id aliquet. 
            Integer eu ipsum porta, volutpat lectus sed, posuere tellus. Fusce eleifend vestibulum odio quis imperdiet. Duis sed semper ligula. Duis facilisis purus leo, vitae iaculis ante fringilla eu. 
            Proin tincidunt lacus ipsum, eget semper mi feugiat mattis. Pellentesque tincidunt nisi ac metus ultricies ultrices.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae sem sed lectus maximus imperdiet. Vestibulum tellus quam, luctus vel metus a, 
            volutpat finibus eros. Vivamus cursus tellus ac posuere aliquam. Etiam scelerisque libero eu nulla suscipit elementum. Maecenas vehicula vulputate magna id aliquet. 
            Integer eu ipsum porta, volutpat lectus sed, posuere tellus. Fusce eleifend vestibulum odio quis imperdiet. Duis sed semper ligula. Duis facilisis purus leo, vitae iaculis ante fringilla eu. 
            Proin tincidunt lacus ipsum, eget semper mi feugiat mattis. Pellentesque tincidunt nisi ac metus ultricies ultrices
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae sem sed lectus maximus imperdiet. Vestibulum tellus quam, luctus vel metus a, 
            volutpat finibus eros. Vivamus cursus tellus ac posuere aliquam. Etiam scelerisque libero eu nulla suscipit elementum. Maecenas vehicula vulputate magna id aliquet. 
            Integer eu ipsum porta, volutpat lectus sed, posuere tellus. Fusce eleifend vestibulum odio quis imperdiet. Duis sed semper ligula. Duis facilisis purus leo, vitae iaculis ante fringilla eu. 
            Proin tincidunt lacus ipsum, eget semper mi feugiat mattis. Pellentesque tincidunt nisi ac metus ultricies ultrices
        
        </p>
    </section>    

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="app.js"></script>
</body>
</html>